:host {
  display: block;
  padding-top: 32px;
  position: relative;
  margin-right: 10px;
}

.logo {
  display: block;
  margin: 0 auto 32px;
  margin-left: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 110px;
  height: 100px;

  &:hover {
    opacity: 0.8;
  }
}

.list-subscribers {
  margin: 20px;
}

.main-menu {
  padding: 0;
  list-style: none;
  margin-top: 28px;
}

.menu-item {
  width: 100%;
  cursor: pointer;
  border: none;
  background: var(--hover-color);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 12px 20px;
  font-family: 'JetBrains Mono';
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  border-radius: 4px;
  transition: all 0.3s ease;
  outline: none;

  &:hover {
    color: var(--light-color);

    svg {
      color: var(--light-color);
    }
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.sidebar-footer {
  background: var(--hover-color);
  border-radius: 2px;
  padding: 4px 16px;
  width: 100%;
  height: 40px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 38px;

  div {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .medium-text {
    color: var(--primary-color);
    font-weight: 700;
  }

  .settings-btn,
  .logout-btn {
    transition: all 0.3s ease;
    svg {
      width: 14px;
      height: 14px;
      margin-top: 8px;
      color: var(--primary-color);
    }

    &:hover {
      svg {
        color: var(--light-color);
      }
    }
  }
}
