<img src="/assets/imgs/logo.png" alt="logo" class="logo" [routerLink]="['/']" />

@if (users.length > 0) {
  <div class="list-subscribers">
    <p class="medium-text">Підписки</p>

    @for (user of users; track user.id) {
      <app-subscriber-card [user]="user"></app-subscriber-card>
    }
  </div>
}
<nav>
  <ul class="main-menu">
    <li>
      <button class="menu-item" [routerLink]="['/profile']">
        <svg icon="home" class="home"></svg>
        <span>Моя сторінка</span>
      </button>
    </li>
  </ul>
</nav>

<footer class="sidebar-footer">
  @if (me) {
    <div class="avatar-container">
      <img [src]="getAvatarUrl()" alt="Avatar" class="profile-avatar" [routerLink]="['/profile']" />
    </div>
    <strong class="medium-text" [routerLink]="['/profile']"> {{ me.name }} </strong>
    <div>
      <a [routerLink]="['/logout']" class="logout-btn">
        <svg icon="logout" class="logout-icon"></svg>
      </a>
      <a [routerLink]="['/settings']" class="settings-btn">
        <svg icon="settings" class="settings-icon"></svg>
      </a>
    </div>
  }
</footer>
