@if (user) {
  <div class="profile-card">
    <div class="avatar-name">
      <div class="profile-card_name">
        <strong class="h6" [routerLink]="['/user', user.id]">{{ user.name }}</strong>
        <span class="subtitle" [routerLink]="['/user', user.id]">{{ user.username }}</span>
      </div>
    </div>
    @if(user.city && user.street) {
    <div class="profile-card_adress">{{ user.city }}, {{ user.street }}</div>
    }
    @else {
      <div class="profile-card_adress"> </div>
    }
    <div class="profile-card_tags">
      <div class="card-tag email-tag">{{ user.email }}</div>
      <div class="card-tag phone-tag">{{ user.phone }}</div>
    </div>

    <div class="profile-card_btns">
      @if (me && me.id !== user.id) {
        <button class="btn" (click)="toggleSubscription()">
          {{ isSubscribed ? 'Відписатися' : 'Підписатися' }}
        </button>
      }
    </div>
  </div>
}
