:host {
  display: grid;
  gap: 48px;
  grid-template-columns: 322px 1fr;
  padding: 24px;
}

.profile-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--light-color);
  background-color: var(--dark-color);
  padding: 32px;
}

.btns {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.profile-form {
  display: grid;
  gap: 20px;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 10px;
}

.profile-label {
  display: flex;
  flex-direction: column;
  gap: 16px;

  span {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }
}

.profile-input {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border: none;
  border-bottom: 1px solid var(--light-color);
  height: 33px;
  background: none;
  color: var(--light-color);

  &:focus-visible {
    outline: 1px solid var(--primary-color);
  }
}
