@if (profile) {
  <header class="profile-header">
    <app-profile-header [profile]="profile"></app-profile-header>

    <a class="btn settings-btn" [routerLink]="['/settings']">
      Редагувати
      <svg icon="settings" class="settings-icon"></svg>
    </a>
  </header>

  <main class="profile-body">
    <div class="posts-column">
      <app-post-input></app-post-input>
      <app-posts-page [userId]="profile.id"></app-posts-page>
    </div>

    <div class="info-column">
      @if (profile.email || profile.city || profile.phone) {
        <h3 class="title">Інформація</h3>
        <div class="profile-card_tags">
          @if (profile.email) {
            <div class="card-tag email-tag">{{ profile.email }}</div>
          }

          @if (profile.city) {
            <div class="card-tag site-tag">{{ profile.city }}</div>
          }

          @if (profile.phone) {
            <div class="card-tag phone-tag">{{ profile.phone }}</div>
          }
        </div>
      }

      @if (profile.city || profile.street) {
        <h3 class="title">Адреса</h3>
        <div class="profile-card_adress">
          {{ profile.city }}
          @if (profile.city && profile.street) {
            ,
          }
          {{ profile.street }}
        </div>
      }
    </div>
  </main>
}
