:host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100dvh;
    align-items: center;
    margin: 0 8%;
    gap: 232px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
