@font-face {
  font-family: 'JetBrains Mono';
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  src: url('/assets/fonts/JetBrainsMono-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-display: swap;
  font-weight: 800;
  font-style: normal;
  src: url('/assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('/assets/fonts/JetBrainsMono-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url('/assets/fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
}
