@import 'fonts';

* {
  box-sizing: border-box;
}

:root {
  --dark-color: #000;
  --light-color: #fff;
  --primary-color: #ae7aff;
  --grey-color: #5f646d;
  --hover-color: #161616;
}

body {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: 'JetBrains Mono';
  background-image: url(/assets/imgs/big-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.card-tag {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid var(--light-color);
  font-size: 12px;
  font-weight: 700;
}

.btn {
  width: 100%;
  border: none;
  background-color: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--dark-color);
  transition: all 0.3s ease;

  &:hover {
    background: none;
    border: 1px solid var(--light-color);
    color: var(--light-color);
  }
}

.no-main-btn {
  background: none;
  border: 1px solid var(--light-color);
  color: var(--light-color);
}

.error {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  color: #ff5a5a;
}

.succes {
  display: block;
  margin-top: 4px;
  font-size: 12px;
  color: #5aff5a;
}

.control-label {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.control-input {
  margin-top: 8px;
  display: block;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  padding: 12px 20px;
  background: var(--dark-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: 'JetBrains Mono';
  color: var(--light-color);
  width: 100%;
}
